// Navigation Styles here
.navbar {
    border: 1px dashed @navigation-border;

    .nav-left {
        display: flex;
        justify-content: flex-start;
        margin-left: 3%;
        padding-top: 2%;

        @media (max-width: 500px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .nav-right {
        display: flex;
        justify-content: flex-end;
        margin-right: 3%;

        a {
            margin: 0 3% 2% 2%;
            color: black;
            font-size: 1.4rem;
            text-decoration: none;
         }
    }
}
